# Stock X Data Contest for the data nerds

Your submission should consist of a single pdf file with the following items:

1 chart or graph displaying your results. Do not exceed 1 chart
A short write-up describing your analysis/results. Do not exceed 200 words
One entry per participant
Make sure the pdf has your name and email address somewhere on it

![StockX image](https://s3.amazonaws.com/stockx-sneaker-analysis/wp-content/uploads/2019/02/StockX_Data-Contest_Logo1-1100x1118.jpg "stockX logo")

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.tools as tls
import plotly.figure_factory as ff 
import colorlover as cl

#####################################################
#####################################################

                ##### STOCK X #####
                     # DATA #
                #### CHALLENGE ####
            
#####################################################
#####################################################

path = 'https://s3.amazonaws.com/stockx-sneaker-analysis/wp-content/uploads/2019/02/StockX-Data-Contest-2019.xlsx'

df = pd.read_excel(path, sheet_name=1)

df.head()

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097.0,220,2016-09-24,11.0,California
1,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685.0,220,2016-11-23,11.0,California
2,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690.0,220,2016-11-23,11.0,California
3,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1075.0,220,2016-11-23,11.5,Kentucky
4,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828.0,220,2017-02-11,11.0,Rhode Island

In [2]:
type(df)

pandas.core.frame.DataFrame

In [3]:
df.corr()

              Sale Price  Retail Price  Shoe Size
Sale Price      1.000000     -0.361549   0.082795
Retail Price   -0.361549      1.000000  -0.052798
Shoe Size       0.082795     -0.052798   1.000000

## From the blog post 
The data we’re giving you consists of a random sample of all Off-White x Nike and Yeezy 350 sales from between 9/1/2017 (the month that Off-White first debuted “The Ten” collection) and the present. There are 99,956 total sales in the data set; 27,794 Off-White sales, and 72,162 Yeezy sales. The sample consists of U.S. sales only.

To create this sample, we took a random, fixed percentage of StockX sales (X%) for each colorway, on each day, since September 2017. So, for each day the Off-White Jordan 1 was on the market, we randomly selected X% of its sale from each day. (It’s not important to know what X is; all that matters is that it’s a random sample, and that the same fixed X% of sales was selected from every day, for every sneaker).

We’ve included 8 variables for you to work with: Order Date, Brand, Sneaker Name, Sale Price ($), Retail Price ($), Release Date, Shoe Size, and Buyer State (the U.S. state the buyer shipped to). You can use whatever variables you want in the analysis; you can use 1 variable, or you can use all 8. And remember, every row in the spreadsheet represents an individual StockX sale. There are no averages or order counts; this is just a random sample of daily sales data

In [4]:
## Creating data frames for yeezys and offwhite shoes

off_white = df.copy()
off_white = off_white[off_white['Brand'].isin(['Off-White'])]

yeezy = df.copy()
yeezy = yeezy[yeezy['Brand'].isin([' Yeezy'])]

print('Shape of Off-White dataframe : {}'.format(off_white.shape))
print('Shape of Yeezy dataframe : {}'.format(yeezy.shape))

Shape of Off-White dataframe : (27794, 8)
Shape of Yeezy dataframe : (72162, 8)

In [5]:
#lmao this dataframe is only yeezys and offwhite i dig it
df['Brand'].unique()

array([' Yeezy', 'Off-White'], dtype=object)

In [12]:
yeezy['Sneaker Name'].unique()

array(['Adidas-Yeezy-Boost-350-Low-V2-Beluga',
       'Adidas-Yeezy-Boost-350-V2-Core-Black-Copper',
       'Adidas-Yeezy-Boost-350-V2-Core-Black-Green',
       'Adidas-Yeezy-Boost-350-V2-Core-Black-Red',
       'Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017',
       'Adidas-Yeezy-Boost-350-V2-Core-Black-White',
       'Adidas-Yeezy-Boost-350-V2-Cream-White',
       'Adidas-Yeezy-Boost-350-V2-Zebra',
       'Adidas-Yeezy-Boost-350-Low-Moonrock',
       'Adidas-Yeezy-Boost-350-Low-Pirate-Black-2016',
       'Adidas-Yeezy-Boost-350-Low-Oxford-Tan',
       'Adidas-Yeezy-Boost-350-Low-Turtledove',
       'Adidas-Yeezy-Boost-350-Low-Pirate-Black-2015',
       'Adidas-Yeezy-Boost-350-V2-Semi-Frozen-Yellow',
       'Adidas-Yeezy-Boost-350-V2-Beluga-2pt0',
       'Adidas-Yeezy-Boost-350-V2-Blue-Tint',
       'adidas-Yeezy-Boost-350-V2-Butter',
       'Adidas-Yeezy-Boost-350-V2-Sesame',
       'adidas-Yeezy-Boost-350-V2-Static',
       'adidas-Yeezy-Boost-350-V2-Static-Reflective'], dtype=object)

In [7]:
off_white['Sneaker Name'].unique()

array(['Nike-Air-Max-90-Off-White', 'Nike-Air-Presto-Off-White',
       'Nike-Air-VaporMax-Off-White',
       'Air-Jordan-1-Retro-High-Off-White-Chicago',
       'Nike-Blazer-Mid-Off-White', 'Nike-Air-Force-1-Low-Off-White',
       'Nike-Air-Max-97-Off-White',
       'Nike-Air-Force-1-Low-Virgil-Abloh-Off-White-AF100',
       'Nike-React-Hyperdunk-2017-Flyknit-Off-White',
       'Nike-Zoom-Fly-Off-White', 'Nike-Air-VaporMax-Off-White-2018',
       'Air-Jordan-1-Retro-High-Off-White-White',
       'Nike-Air-VaporMax-Off-White-Black',
       'Air-Jordan-1-Retro-High-Off-White-University-Blue',
       'Nike-Air-Presto-Off-White-Black-2018',
       'Nike-Air-Presto-Off-White-White-2018',
       'Nike-Zoom-Fly-Mercurial-Off-White-Black',
       'Nike-Zoom-Fly-Mercurial-Off-White-Total-Orange',
       'Nike-Air-Max-97-Off-White-Elemental-Rose-Queen',
       'Nike-Blazer-Mid-Off-White-All-Hallows-Eve',
       'Nike-Blazer-Mid-Off-White-Grim-Reaper',
       'Nike-Blazer-Mid-Off-White-Wolf-Grey',
       'Nike-Air-Max-97-Off-White-Menta',
       'Nike-Air-Max-97-Off-White-Black',
       'Nike-Zoom-Fly-Off-White-Black-Silver',
       'Nike-Zoom-Fly-Off-White-Pink',
       'Nike-Air-Force-1-Low-Off-White-Volt',
       'Nike-Air-Force-1-Low-Off-White-Black-White',
       'Nike-Air-Max-90-Off-White-Black',
       'Nike-Air-Max-90-Off-White-Desert-Ore'], dtype=object)

# Ideas for graphs/charts/trends to explore

- Region/Map of where the most buyers are for yeezys vs. offwhite sneakers
- and what does the this trend ^ explain about the economy in that state or how much disposable income people have to be spending $1,000 on a pair of sneakers LOL
- Another trend: what sneakers are more popular? Kind of obvious because there are almost 3X as many yeezys sold than offwhite in the entire dataset
- Another good one would be to look at the difference between resale prices for the shoes?
- Also how the resale prices change over time
- Do the shoes appreciate? or do they not?

## After brainstorming:

- Has 'The Ten' Appreciated or Depreciated in the last year?
- Have Yeezys gone downhill?

In [8]:
the_ten = off_white.copy()

the_ten = the_ten[the_ten['Sneaker Name'].isin([
    'Air-Jordan-1-Retro-High-Off-White-Chicago',
    'Nike-Blazer-Mid-Off-White',
    'Nike-Air-VaporMax-Off-White',
    'Nike-Air-Presto-Off-White',
    'Nike-Air-Max-90-Off-White',
    'Nike-Air-Force-1-Low-Off-White',
    'Nike-Air-Max-97-Off-White',
    'Nike-Air-Force-1-Low-Virgil-Abloh-Off-White-AF100',
    'Nike-React-Hyperdunk-2017-Flyknit-Off-White',
    'Nike-Zoom-Fly-Off-White' 
])]
the_ten.head()

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
128,2017-09-07,Off-White,Nike-Air-Max-90-Off-White,1600.0,160,2017-09-09,8.0,California
129,2017-09-07,Off-White,Nike-Air-Max-90-Off-White,1090.0,160,2017-09-09,11.5,New York
130,2017-09-07,Off-White,Nike-Air-Presto-Off-White,1344.0,160,2017-09-09,10.0,New York
131,2017-09-07,Off-White,Nike-Air-Presto-Off-White,1325.0,160,2017-09-09,10.0,Massachusetts
132,2017-09-07,Off-White,Nike-Air-VaporMax-Off-White,1800.0,250,2017-09-09,12.0,Kentucky

In [9]:
the_ten.tail()

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
99510,2019-02-12,Off-White,Nike-Zoom-Fly-Off-White,821.0,170,2017-11-01,10.0,Oregon
99737,2019-02-13,Off-White,Air-Jordan-1-Retro-High-Off-White-Chicago,2550.0,190,2017-09-09,11.0,Oregon
99742,2019-02-13,Off-White,Nike-Air-Force-1-Low-Off-White,1315.0,170,2017-11-01,11.0,California
99842,2019-02-13,Off-White,Nike-Air-Presto-Off-White,1700.0,160,2017-09-09,10.0,California
99858,2019-02-13,Off-White,Nike-React-Hyperdunk-2017-Flyknit-Off-White,767.0,200,2017-11-01,11.0,California

# Apparently highsnobiety already made an article on the appreciation of Off White sneakers, so i'm going to do something different lmao


## here's a link to it


https://www.highsnobiety.com/p/off-white-nike-resell-price-analysis/

In [13]:
yeezy['Sneaker Name'].value_counts()

adidas-Yeezy-Boost-350-V2-Butter                 11423
Adidas-Yeezy-Boost-350-V2-Beluga-2pt0            10395
Adidas-Yeezy-Boost-350-V2-Zebra                  10110
Adidas-Yeezy-Boost-350-V2-Blue-Tint               9297
Adidas-Yeezy-Boost-350-V2-Cream-White             9097
Adidas-Yeezy-Boost-350-V2-Sesame                  5553
adidas-Yeezy-Boost-350-V2-Static                  4983
Adidas-Yeezy-Boost-350-V2-Semi-Frozen-Yellow      4854
adidas-Yeezy-Boost-350-V2-Static-Reflective       3184
Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017      969
Adidas-Yeezy-Boost-350-V2-Core-Black-White         621
Adidas-Yeezy-Boost-350-Low-V2-Beluga               498
Adidas-Yeezy-Boost-350-V2-Core-Black-Red           302
Adidas-Yeezy-Boost-350-V2-Core-Black-Copper        225
Adidas-Yeezy-Boost-350-V2-Core-Black-Green         196
Adidas-Yeezy-Boost-350-Low-Pirate-Black-2016       122
Adidas-Yeezy-Boost-350-Low-Moonrock                100
Adidas-Yeezy-Boost-350-Low-Pirate-Black-2015        95
Adidas-Yeezy-Boost-350-Low-Oxford-Tan               70
Adidas-Yeezy-Boost-350-Low-Turtledove               68
Name: Sneaker Name, dtype: int64

In [22]:
#gonna do some simple subtraction!
def profit_after_fees(x,y):
    '''
    Taking into account StockX's seller fees at 9.5% maximum and the additional 3% transaction fees.
    Should be 12.5% max 
    https://help.stockx.com/selling-on-stockx/what-are-stockx-selling-fees
    '''
    profit = x - y
    return round((profit * .875),2)

In [25]:
yeezy['Profit After Fees'] = yeezy.apply(lambda x: profit_after_fees(x['Sale Price'],x['Retail Price']), axis=1)
yeezy.head()

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region,Profit After Fees
0,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097.0,220,2016-09-24,11.0,California,767.38
1,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685.0,220,2016-11-23,11.0,California,406.88
2,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690.0,220,2016-11-23,11.0,California,411.25
3,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1075.0,220,2016-11-23,11.5,Kentucky,748.12
4,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828.0,220,2017-02-11,11.0,Rhode Island,532.00

In [202]:
##create copy of yeezy where the index is the region?

yeezy_copy = yeezy.copy()
yeezy_copy = yeezy_copy['Buyer Region'].value_counts().reset_index().rename(columns={'index': 'State', 'Buyer Region': 'Total Sales'})
yeezy_copy.head()

        State  Total Sales
0  California        13113
1    New York        12103
2      Oregon         5396
3     Florida         4484
4       Texas         4455

In [87]:
### isolate yeezy by region and find average/total profit by state?
### also favorite sneaker by state
# this is some feature engineering here i think

# yeezy_1 = yeezy.groupby('Buyer Region')['Sneaker Name'].apply(set).to_dict()
# yeezy_2 = yeezy.groupby('Buyer Region')['Profit After Fees'].apply(set).to_dict()
test_df = yeezy.drop(columns=['Sale Price','Retail Price','Shoe Size'])
test_df.head()

,Order Date,Brand,Sneaker Name,Release Date,Buyer Region,Profit After Fees
0,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,2016-09-24,California,767.38
1,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,2016-11-23,California,406.88
2,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,2016-11-23,California,411.25
3,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,2016-11-23,Kentucky,748.12
4,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,2017-02-11,Rhode Island,532.00

# Create pivot table for State and Yeezy type

In [104]:
profit_pivot = yeezy.groupby(['Sneaker Name', 'Buyer Region'],as_index=False).sum().pivot('Sneaker Name','Buyer Region','Profit After Fees').fillna(0)
## making one where the states are the index to test
profit_pivot_2 = yeezy.groupby(['Sneaker Name', 'Buyer Region'],as_index=False).sum().pivot('Buyer Region','Sneaker Name','Profit After Fees').fillna(0)
profit_pivot_2.index

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
       'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object', name='Buyer Region')

In [160]:
# states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
#        'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia',
#        'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
#        'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan',
#        'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
#        'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
#        'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
#        'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
#        'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
#        'West Virginia', 'Wisconsin', 'Wyoming']
x = profit_pivot.sum().to_dict()
y = profit_pivot_2.sum().to_dict()
x = sorted(x.items(), key=lambda i: i[1],reverse=True)

In [169]:
yeezy['Favorite'] = yeezy.groupby(['Buyer Region','Sneaker Name']).transform('count')
yeezy.head()

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region,Profit After Fees,Favorite
0,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097.0,220,2016-09-24,11.0,California,767.38,115
1,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685.0,220,2016-11-23,11.0,California,406.88,58
2,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690.0,220,2016-11-23,11.0,California,411.25,58
3,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1075.0,220,2016-11-23,11.5,Kentucky,748.12,8
4,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828.0,220,2017-02-11,11.0,Rhode Island,532.00,3

In [192]:
z = yeezy.groupby(['Buyer Region','Sneaker Name'], as_index=False)['Favorite'].max()
z.head()

  Buyer Region                                  Sneaker Name  Favorite
0      Alabama  Adidas-Yeezy-Boost-350-Low-Pirate-Black-2016         1
1      Alabama          Adidas-Yeezy-Boost-350-Low-V2-Beluga         4
2      Alabama         Adidas-Yeezy-Boost-350-V2-Beluga-2pt0        47
3      Alabama           Adidas-Yeezy-Boost-350-V2-Blue-Tint        47
4      Alabama      Adidas-Yeezy-Boost-350-V2-Core-Black-Red         1

In [203]:
xz = z.pivot('Buyer Region','Sneaker Name','Favorite').fillna(0)
xz.head()

Sneaker Name,Adidas-Yeezy-Boost-350-Low-Moonrock,Adidas-Yeezy-Boost-350-Low-Oxford-Tan,Adidas-Yeezy-Boost-350-Low-Pirate-Black-2015,Adidas-Yeezy-Boost-350-Low-Pirate-Black-2016,Adidas-Yeezy-Boost-350-Low-Turtledove,Adidas-Yeezy-Boost-350-Low-V2-Beluga,Adidas-Yeezy-Boost-350-V2-Beluga-2pt0,Adidas-Yeezy-Boost-350-V2-Blue-Tint,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,Adidas-Yeezy-Boost-350-V2-Core-Black-White,Adidas-Yeezy-Boost-350-V2-Cream-White,Adidas-Yeezy-Boost-350-V2-Semi-Frozen-Yellow,Adidas-Yeezy-Boost-350-V2-Sesame,Adidas-Yeezy-Boost-350-V2-Zebra,adidas-Yeezy-Boost-350-V2-Butter,adidas-Yeezy-Boost-350-V2-Static,adidas-Yeezy-Boost-350-V2-Static-Reflective
Buyer Region,,,,,,,,,,,,,,,,,,,,
Alabama,0.0,0.0,0.0,1.0,0.0,4.0,47.0,47.0,0.0,0.0,1.0,1.0,5.0,51.0,36.0,24.0,71.0,48.0,23.0,16.0
Alaska,0.0,0.0,0.0,0.0,0.0,0.0,4.0,5.0,0.0,0.0,1.0,1.0,0.0,9.0,5.0,3.0,4.0,4.0,5.0,0.0
Arizona,1.0,0.0,1.0,1.0,1.0,5.0,147.0,139.0,1.0,2.0,2.0,10.0,6.0,152.0,62.0,81.0,142.0,164.0,59.0,29.0
Arkansas,1.0,0.0,0.0,0.0,0.0,1.0,20.0,18.0,1.0,0.0,0.0,2.0,1.0,26.0,7.0,10.0,12.0,26.0,13.0,3.0
California,25.0,16.0,28.0,38.0,22.0,115.0,2146.0,1682.0,58.0,58.0,82.0,250.0,142.0,1653.0,587.0,1045.0,1737.0,1810.0,923.0,696.0

In [208]:
# favorite_pivot = yeezy.groupby(['Buyer Region', 'Sneaker Name'], as_index=False)..pivot('Sneaker Name','Buyer Region', 'Favorite').fillna(0)
# favorite_pivot
xz['Favorite Sneaker'] = xz[['Adidas-Yeezy-Boost-350-Low-Moonrock',
       'Adidas-Yeezy-Boost-350-Low-Oxford-Tan',
       'Adidas-Yeezy-Boost-350-Low-Pirate-Black-2015',
       'Adidas-Yeezy-Boost-350-Low-Pirate-Black-2016',
       'Adidas-Yeezy-Boost-350-Low-Turtledove',
       'Adidas-Yeezy-Boost-350-Low-V2-Beluga',
       'Adidas-Yeezy-Boost-350-V2-Beluga-2pt0',
       'Adidas-Yeezy-Boost-350-V2-Blue-Tint',
       'Adidas-Yeezy-Boost-350-V2-Core-Black-Copper',
       'Adidas-Yeezy-Boost-350-V2-Core-Black-Green',
       'Adidas-Yeezy-Boost-350-V2-Core-Black-Red',
       'Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017',
       'Adidas-Yeezy-Boost-350-V2-Core-Black-White',
       'Adidas-Yeezy-Boost-350-V2-Cream-White',
       'Adidas-Yeezy-Boost-350-V2-Semi-Frozen-Yellow',
       'Adidas-Yeezy-Boost-350-V2-Sesame', 'Adidas-Yeezy-Boost-350-V2-Zebra',
       'adidas-Yeezy-Boost-350-V2-Butter', 'adidas-Yeezy-Boost-350-V2-Static',
       'adidas-Yeezy-Boost-350-V2-Static-Reflective']].max(axis=1)
xz.head()

Sneaker Name,Adidas-Yeezy-Boost-350-Low-Moonrock,Adidas-Yeezy-Boost-350-Low-Oxford-Tan,Adidas-Yeezy-Boost-350-Low-Pirate-Black-2015,Adidas-Yeezy-Boost-350-Low-Pirate-Black-2016,Adidas-Yeezy-Boost-350-Low-Turtledove,Adidas-Yeezy-Boost-350-Low-V2-Beluga,Adidas-Yeezy-Boost-350-V2-Beluga-2pt0,Adidas-Yeezy-Boost-350-V2-Blue-Tint,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,...,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,Adidas-Yeezy-Boost-350-V2-Core-Black-White,Adidas-Yeezy-Boost-350-V2-Cream-White,Adidas-Yeezy-Boost-350-V2-Semi-Frozen-Yellow,Adidas-Yeezy-Boost-350-V2-Sesame,Adidas-Yeezy-Boost-350-V2-Zebra,adidas-Yeezy-Boost-350-V2-Butter,adidas-Yeezy-Boost-350-V2-Static,adidas-Yeezy-Boost-350-V2-Static-Reflective,Favorite Sneaker
Buyer Region,,,,,,,,,,,,,,,,,,,,,
Alabama,0.0,0.0,0.0,1.0,0.0,4.0,47.0,47.0,0.0,0.0,...,1.0,5.0,51.0,36.0,24.0,71.0,48.0,23.0,16.0,71.0
Alaska,0.0,0.0,0.0,0.0,0.0,0.0,4.0,5.0,0.0,0.0,...,1.0,0.0,9.0,5.0,3.0,4.0,4.0,5.0,0.0,9.0
Arizona,1.0,0.0,1.0,1.0,1.0,5.0,147.0,139.0,1.0,2.0,...,10.0,6.0,152.0,62.0,81.0,142.0,164.0,59.0,29.0,164.0
Arkansas,1.0,0.0,0.0,0.0,0.0,1.0,20.0,18.0,1.0,0.0,...,2.0,1.0,26.0,7.0,10.0,12.0,26.0,13.0,3.0,26.0
California,25.0,16.0,28.0,38.0,22.0,115.0,2146.0,1682.0,58.0,58.0,...,250.0,142.0,1653.0,587.0,1045.0,1737.0,1810.0,923.0,696.0,2146.0

In [232]:
l = []
for i in range(0,len(xz)):
    p = (xz == xz['Favorite Sneaker'][i]).idxmax(axis=1)[i]
    l.append(p)

new_df = pd.DataFrame(l,columns={'Sneaker'})
new_df.head()
new_df['State'] = xz.index
new_df.head()

                                 Sneaker       State
0        Adidas-Yeezy-Boost-350-V2-Zebra     Alabama
1  Adidas-Yeezy-Boost-350-V2-Cream-White      Alaska
2       adidas-Yeezy-Boost-350-V2-Butter     Arizona
3  Adidas-Yeezy-Boost-350-V2-Cream-White    Arkansas
4  Adidas-Yeezy-Boost-350-V2-Beluga-2pt0  California

In [233]:
test = pd.DataFrame(data = x,columns=['State','Total Profit']) 
# # test = test.reset_index()
# test = test.rename(columns={'0': 'Total Profit'})
test.head()

        State  Total Profit
0  California    1766725.55
1    New York    1490796.78
2      Oregon     700531.25
3     Florida     546883.75
4       Texas     506769.39

In [235]:
yeezy_df = pd.merge(yeezy_copy,test,on='State',sort='True',how='inner')
yeezy_df = pd.merge(yeezy_df, new_df, on='State',sort='True',how='inner')
yeezy_df.head()
### YUHH

,State,Total Sales,Total Profit,Sneaker
0,Alabama,375,43330.01,Adidas-Yeezy-Boost-350-V2-Zebra
1,Alaska,41,4070.53,Adidas-Yeezy-Boost-350-V2-Cream-White
2,Arizona,1005,114591.03,adidas-Yeezy-Boost-350-V2-Butter
3,Arkansas,141,15269.69,Adidas-Yeezy-Boost-350-V2-Cream-White
4,California,13113,1766725.55,Adidas-Yeezy-Boost-350-V2-Beluga-2pt0

In [242]:
for col in yeezy_df.columns:
    yeezy_df[col] = yeezy_df[col].astype(str)

yeezy_df['text'] = yeezy_df['State'] + '<br>' +\
    'Total Resale Profit : $' + yeezy_df['Total Profit'] + '<br>' +\
    'Favorite Sneaker : ' + yeezy_df['Sneaker']

In [243]:
#stockX colorscale

colorscale = [
    [0.0, '#D8F3D3'],
    [0.05, '#C4EDBE'],
    [0.1, '#B1E7A8'],
    [0.15, '#9DE193'],
    [0.2, '#8ADC7D'],
    [0.25, '#76D668'],
    [0.3, '#63D052'],
    [0.35, '#4FCA3D'],
    [0.4, '#3CC427'],
    [0.45, '#29BF12'],
    [0.5, '#26AE11'],
    [0.55, '#229D0F'],
    [0.6, '#1E8B0E'],
    [0.65, '#1B7A0C'],
    [0.7, '#17690A'],
    [0.75, '#135709'],
    [0.8, '#0F4607'],
    [0.85, '#163811'],
    [0.9, '#0F250C' ],
    [0.95, '#0C3505'],
    [0.1, '#082304']
]

In [249]:
data = [dict(
    type = 'choropleth',
    colorscale = 'Viridis',
    autocolorscale = False,
    locations = yeezy_df['State'],
    z = yeezy_df['Total Sales'],
    locationmode='USA-states',
    text = yeezy_df['text'],
    marker = dict(
        line=dict(
            color= 'rgb(255,255,255)',
            width=2
        )),
    colorbar= dict(
        title= 'Resold Yeezy\'s by State'
        )
)]

layout = dict(
    title = '2017-2019 Yeezy\'s Resold by State <br>(Hover for details)',
    geo = dict(
        scope = 'usa',
        projection = dict(type='albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255,255,255)',
    ))

fig = dict(data = data, layout=layout)

py.plot(fig, filename='yeezy_hover_map')

'https://plot.ly/~Ruwai/23'